body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

.header {
    background: gray;
    color: white;
    padding: 15px;
    display: flex;
    flex-flow: row;
    align-items: center;
    flex-basis: 100%;
    height: 5%;
}

.header__title {
    margin-left: 15px;
    font-size: 25px;
    font-weight: 200;
    color: rgb(233, 233, 233);
}

.header__logo {
    width: 40px;
    height: 40px;
}

.main-content__title {
    text-align: center;
}

.tasks-list {
    background: rgb(241, 241, 241);
    border-radius: 3px;
    padding: 10px;
}

.add-task {
    background: rgb(27, 27, 27);
    width: auto;
    height: auto;
    padding: 25px;
}

.add-task__title {
    margin: 5px;
    font-weight: 500;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.575);
}

.add-task__input {
    margin: 5px;
    width: 100%;
}

.add-task-buttons {
    display: flex;
    margin-top: 15px;
    justify-content: flex-end;
}

.add-task-buttons__button {
    padding: 8px;
    margin: 3px;
}

.body__add-task-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 20px;
    border-radius: 50%;
    background: white;
    color: rgb(37, 37, 37);
    border: 1px solid rgb(199, 199, 199);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.7, 0.7);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    99% {
        transform: scale(0.95, 0.95);
    }
    100% {
        opacity: 0;
        display: none;
        pointer-events: none;
    }
}

.modal-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: rgb(230, 230, 230);
    display: none;
    align-items: center;
    justify-content: center;
    background: rgb(27, 27, 27);
    opacity: 0;
}

.task-item {
    position: relative;
    padding: 15px;
    margin: 10px;
    background: rgb(233, 233, 233);
    border-radius: 3px;
    border: 1px solid rgb(182, 182, 182);
}

.task-item__remove-icon {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.task-item__removed {
    animation: fadeOut 200ms ease-in-out forwards;
    pointer-events: none;
}

.task-item:hover .task-item__remove-icon {
    display: block;
    color: rgb(116, 45, 45);
    text-decoration: none;
}

.task-item:hover .task-item__remove-icon:hover {
    color: rgb(206, 69, 69);
    text-decoration: underline;
}

.task-item:hover {
    background: rgb(245, 245, 245);
}

.list-filter__title {
    display: none;
}

.task-item__header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.task-item__title-side-container {
    display: flex;
    align-items: center;
}

.task-item__name {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
}

.task-item__name_done {
    opacity: 0.25;
    text-decoration: line-through;
}

.document-content {
    height: 90%;
    overflow-y: auto;
}

.task-item__doneCheckbox {
    padding: 0;
    margin: 0;
}

.main-content {
    height: 100vh;
}

.task-item__description {
    color: rgb(87, 87, 87);
}

.task-item__dueDateTime_overdue {
    color: rgb(206, 69, 69);
}

.list-filter {
    background: rgb(245, 245, 245);
    padding: 10px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(182, 182, 182);
}

.list-filter__radiobutton {
    margin-left: 12px;
}

.list-filter__label {
    margin-right: 12px;
}

.modal-content_hide {
    display: flex;
    animation: fadeOut 200ms ease-in-out forwards;
}

.modal-content_show {
    display: flex;
    animation: fadeIn 200ms ease-in-out forwards;
}

@media (min-width:600px) {
    .modal-content {
        background: rgba(0, 0, 0, 0.137);
    }
    .main-content__title {
        text-align: left;
        margin-left: 15px;
    }
    .main-content {
        display: flex;
        flex-flow: row wrap;
    }
    .add-task {
        border-radius: 8px;
        border: 1px solid rgb(150, 150, 150);
        box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.575);
        width: fit-content;
        height: fit-content;
    }
    .header {
        flex-basis: 100%;
    }
    .document-content {
        display: flex;
        flex-flow: row;
        flex-basis: 100%;
    }
    .list-filter {
        flex-basis: 20%;
        background: rgb(250, 250, 250);
        justify-content: flex-start;
        flex-flow: column wrap;
        border: 1px solid rgb(197, 197, 197);
    }
    .tasks-list {
        flex-basis: 80%;
        border: 1px solid rgb(197, 197, 197);
        border-left: 0;
    }
    .list-filter__title {
        display: block;
        margin-left: 15px;
        color: rgb(44, 44, 44);
    }
}