img.myphoto {
    float: left;
    margin-right: 50px;
    margin-bottom: 30px;
    border-radius: 50%;
    max-width: 175px;
    max-height: 175px;
}

a {
    color: #61a1a1;
}

section {
    clear: both;
    padding: 5px;
}

header {
    background-color: #1f1f1f;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    overflow: auto;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0f0f0f;
    color: #cccccc;
    margin: 0;
    padding: 0;
}

.centered-content {
    margin: auto;
    max-width: 500px;
}

.centered {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

footer {
    text-align: center;
    margin-bottom: 10px;
}
