img.myphoto {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    float: left;
}

@media (min-width:700px) {
    .header-right-content {
        float: right;
        margin: 15px;
    }

    .main-content {
        margin-left: 20%;
    }

    nav {
        margin-top: 15px;
        margin-left: 15px;
        position: fixed;
        width: 20%;
        height: 77vh;
        background-color: rgba(255, 255, 255, 0.733);
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #00000022;
    }
}

@media (max-width:699px) {
    .header-right-content {
        visibility: collapse;
    }

    nav {
        width: 100%;
        background-color: #fff;
    }
}

.avatar-section {
    text-align: left;
}

.avatar-text {
    display: inline-block;
    margin-left: 10px;
}

.header-left-content {
    float: left;
    margin: 15px;
}

ul {
    margin: 15px;
}

.project-badge {
    width: 250px;
}

.study-badge {
    width: auto;
}

.inline-badge {
    padding: 15px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.733);
    /*float: left;*/
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000022;
}

.screenshot {
    max-width: 350px;
    max-height: 200px;
}

a {
    color: #61a1a1;
}

clean {
    clear: both;
}

main {
    padding-top: 115px;
}

section {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    background: linear-gradient(rgb(96, 113, 211), rgba(131, 103, 196, 0.705));
    color: black;
    width: 100%;
    height: 115px;
    margin: 0;
    padding: 0;
    border: none;
    overflow: auto;
    position: fixed;
    box-shadow: 0px 0px 5px 0px #000000;
}

body {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ebebeb;
    color: #000000cb;
    margin: 0;
    padding: 0;
}

.centered-content {
    margin: auto;
    max-width: 500px;
}

.centered {
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

footer {
    text-align: center;
    margin-bottom: 10px;
}
